<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easywash">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Easy Wash"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Share"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName=".UserDashboard"/>
        <activity android:name=".Rating"
            android:parentActivityName=".UserDashboard"/>
        <activity android:name=".Aboutus" android:parentActivityName=".UserDashboard" />
        <activity android:name=".UserDashboard" />
        <activity android:name=".Nightmode" android:parentActivityName=".UserDashboard" />
        <activity android:name=".ReceiveNotificationActivity" />
        <activity android:name=".ForgetPassword"  android:parentActivityName=".UserDashboard"/>
        <activity
            android:name=".Register"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Profile" />
        <activity android:name=".Login" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".BookingDetails" android:parentActivityName=".UserDashboard"/>
        <activity android:name=".Bookingconform" android:parentActivityName=".UserDashboard"/>
        <activity
            android:name=".Booking"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".UserDashboard"/>
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".IntroActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>